<footer id="contact" class="footer">
  <div class="container footer-container">
    <div class="footer-info-wrapper">
      <a href="./index.html" class="footer-link-logo">
        <img
          src="/img/logo@2x.png"
          alt="Legaltefu Pro"
          class="footer-logo-img"
          width="203"
          height="31"
      /></a>
      <p class="footer-text-accent footer-text">
        Where Law Meets the Lore of Games
      </p>
      <a href="mailto:info@legaltefu.pro" class="footer-text">
        Limited Liability Company &nbsp;|&nbsp; info@legaltefu.pro</a
      >
    </div>

    <div class="footer-wrapper">
      <ul class="footer-list">
        <li class="footer-item footer-text">
          <a class="footer-link" href="./privacy-policy.html"
            >Privacy Policy<span style="margin-left: 12px">|</span></a
          >
        </li>
        <li class="footer-item footer-text">
          <a class="footer-link" href="./terms-and-conditions.html"
            >Terms & Conditions<span style="margin-left: 12px">|</span></a
          >
        </li>
        <li class="footer-item footer-text">
          <a class="footer-link" href="./cookies-policy.html">
            Cookies Policy</a
          >
        </li>
      </ul>
      <p class="footer-text">© 2025 legaltefu.pro — All rights reserved</p>
    </div>

    <div class="footer-social-list-wrapper">
      <p class="footer-text desk">Follow us:</p>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            href="https://x.com/"
            class="footer-social-link"
            aria-label="X"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/img/footer/twitter.png"
              alt="twitter"
              width="24"
              height="24"
              class="footer-social-img"
              loading="lazy"
            />
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            class="footer-social-link"
            aria-label="youtube"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/img/footer/youtube.png"
              alt="youtube"
              width="24"
              height="24"
              class="footer-social-img"
              loading="lazy"
            />
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.twitch.tv/"
            class="footer-social-link"
            aria-label="twitch"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/img/footer/twitch.png"
              alt="twitch"
              width="24"
              height="24"
              class="footer-social-img"
              loading="lazy"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
