<section id="for" class="section for">
  <div class="container for-container">
    <h2>Who It’s For</h2>
    <p class="section-subtitle">
      You’ll Benefit From Legaltefu Pro If You Are...
    </p>

    <div class="for-wrapper">
      <ul class="for-list">
        <li class="for-item">
          <svg width="24" height="24" aria-hidden="true" class="for-svg">
            <use href="/img/sprite.svg#icon-devbox"></use>
          </svg>
          <p class="text">
            An<span class="for-accent"> indie dev </span>unsure how to license
            user-generated content
          </p>
        </li>

        <li class="for-item">
          <svg width="24" height="24" aria-hidden="true" class="for-svg">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
          <p class="text">
            A<span class="for-accent"> streamer or YouTuber </span>navigating
            DMCA notices
          </p>
        </li>

        <li class="for-item">
          <svg width="24" height="24" aria-hidden="true" class="for-svg">
            <use href="/img/sprite.svg#icon-scales"></use>
          </svg>
          <p class="text">
            A<span class="for-accent"> modder </span>concerned about fair use
            and legal exposure
          </p>
        </li>

        <li class="for-item">
          <svg width="24" height="24" aria-hidden="true" class="for-svg">
            <use href="/img/sprite.svg#icon-remix"></use>
          </svg>
          <p class="text">
            An<span class="for-accent"> esports player </span>signing team
            contracts
          </p>
        </li>

        <li class="for-item">
          <svg width="24" height="24" aria-hidden="true" class="for-svg">
            <use href="/img/sprite.svg#icon-search-employees"></use>
          </svg>
          <p class="text">
            A<span class="for-accent"> gaming journalist or educator </span
            >needing accessible resources on game law
          </p>
        </li>

        <li class="for-item">
          <svg width="24" height="24" aria-hidden="true" class="for-svg">
            <use href="/img/sprite.svg#icon-businessman"></use>
          </svg>
          <p class="text">
            A<span class="for-accent"> legal or ethics consultant </span
            >exploring digital-first platforms
          </p>
        </li>
      </ul>

      <img
        src="/img/for/headphones-joysticks-monitor-computer-mouse@2x.png"
        alt="Headphones, joysticks, monitor, computer mouse"
        class="for-img"
        width="375"
        height="212"
        loading="lazy"
      />
    </div>
  </div>
</section>
