<section id="stream" class="section stream">
  <span style="display: none">Generated: 2025-07-03, Hash: v45up7e</span>
  <div class="container help-container">
    <h2>Stream & Learn</h2>
    <div class="stream-wrapper">
      <div class="stream-text-wrapper">
        <p class="section-subtitle">Join the Legal Arena</p>
        <p class="text">
          Our Twitch and YouTube panels bring together lawyers, developers,
          streamers, and academics to debate, teach, and demystify the gray
          areas of gaming law. From platform bans to player rights, join the
          conversation that shapes the industry.
        </p>
        <p class="stream-list-title">Upcoming Topics:</p>

        <ul class="stream-list">
          <li class="stream-item">
            <svg width="24" height="24" aria-hidden="true" class="stream-svg">
              <use href="/img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="text">“Can You Sell Your Mod?”</p>
          </li>
          <li class="stream-item">
            <svg width="24" height="24" aria-hidden="true" class="stream-svg">
              <use href="/img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="text">“Streamers vs DMCA”</p>
          </li>
          <li class="stream-item">
            <svg width="24" height="24" aria-hidden="true" class="stream-svg">
              <use href="/img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="text">“Esports: Contracts or Traps?”</p>
          </li>
          <li class="stream-item">
            <svg width="24" height="24" aria-hidden="true" class="stream-svg">
              <use href="/img/sprite.svg#icon-circle"></use>
            </svg>
            <p class="text">“AI, Assets, and Copyright”</p>
          </li>
        </ul>
      </div>

      <figure>
        <img
          src="/img/stream/two-people-discussing-something-sitting-in-front-of-a-computer.png"
          srcset="
            /img/stream/two-people-discussing-something-sitting-in-front-of-a-computer.png    1x,
            /img/stream/two-people-discussing-something-sitting-in-front-of-a-computer@2x.png 2x
          "
          alt="Two people discussing something sitting in front of a computer"
          class="stream-img"
          width="335"
          height="278"
          loading="lazy"
        />
        <figcaption class="visually-hidden">
          Two people discussing something sitting in front of a computer
        </figcaption>
      </figure>
    </div>
  </div>
</section>
