<section class="section what-we-do">
  <div class="container what-we-do-container">
    <h2>What We Do</h2>
    <p class="section-subtitle">Navigate the Legal Side of Gaming</p>

    <div class="what-we-do-wrapper">
      <div class="what-we-do-text-wrapper">
        <p class="text">
          Legaltefu Pro decodes the complex relationship between law and gaming
          culture. Whether you're an indie developer, a streamer, or a modder,
          we help you understand your rights, your responsibilities, and the
          ethical boundaries shaping the future of games.
        </p>
        <p class="what-we-do-list-title">Our Focus Areas:</p>
        <ul class="what-we-do-list">
          <li class="what-we-do-item">
            <svg
              width="24"
              height="24"
              aria-hidden="true"
              class="what-we-do-svg"
            >
              <use href="/img/sprite.svg#icon-diamonds"></use>
            </svg>
            <p class="text">Game IP and creator rights</p>
          </li>
          <li class="what-we-do-item">
            <svg
              width="24"
              height="24"
              aria-hidden="true"
              class="what-we-do-svg"
            >
              <use href="/img/sprite.svg#icon-diamonds"></use>
            </svg>
            <p class="text">Streaming rules & platform compliance</p>
          </li>
          <li class="what-we-do-item">
            <svg
              width="24"
              height="24"
              aria-hidden="true"
              class="what-we-do-svg"
            >
              <use href="/img/sprite.svg#icon-diamonds"></use>
            </svg>
            <p class="text">Esports contracts & team agreements</p>
          </li>
          <li class="what-we-do-item">
            <svg
              width="24"
              height="24"
              aria-hidden="true"
              class="what-we-do-svg"
            >
              <use href="/img/sprite.svg#icon-diamonds"></use>
            </svg>
            <p class="text">Modding laws and ethical use</p>
          </li>
          <li class="what-we-do-item">
            <svg
              width="24"
              height="24"
              aria-hidden="true"
              class="what-we-do-svg"
            >
              <use href="/img/sprite.svg#icon-diamonds"></use>
            </svg>
            <p class="text">In-game economy & NFT regulations</p>
          </li>
        </ul>
      </div>
      <img
        src="/img/what-we-do/two-people-are-sitting-at-a-table-in-front-of-a-laptop.png"
        srcset="
          /img/what-we-do/two-people-are-sitting-at-a-table-in-front-of-a-laptop.png    1x,
          /img/what-we-do/two-people-are-sitting-at-a-table-in-front-of-a-laptop@2x.png 2x
        "
        alt="Two people are sitting at a table in front of a laptop"
        class="what-we-do-img"
        width="335"
        height="273"
        loading="lazy"
      />
    </div>
  </div>
</section>
